<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Admin Tables</title>
    <link rel="stylesheet" href="/assets/css/tutor-admin.css">
</head>

<body>
    <center><h2>Hola <%= tutorData['username'] %></h2></center>
    <div class="container">
        <div class="div-izq">
            <div class="divTable">
                <table>
                    <thead>
                        <th>
                            <tr>
                                <td>Codigo</td>
                                <td>Nombre</td>
                                <td>Edad</td>
                                <td>Sexo</td>
                                <td>Acciones</td>
                            </tr>
                        </th>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<recordsTutorados.length ;i++){ %>
                            <tr>
                                <td>
                                    <%=recordsTutorados[i]["codigo"] %>
                                </td>
                                <td>
                                    <%=recordsTutorados[i]["nombre"] %>
                                </td>
                                <td>
                                    <%=recordsTutorados[i]["edad"] %>
                                </td>
                                <td>
                                    <%=recordsTutorados[i]["sexo"] %>
                                </td>
                                <td>
                                    <a class="waves-effect waves-light btn"
                                        href="/tutor/view/edit/<%=recordsTutorados[i][" idTutor"] %>
                                        ">Editar</a>
                                    <a class="waves-effect waves-light btn" href="">Eliminar</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>
            <div class="content">
                <button class="btnForm" type="submit" onclick="location.href='/admin/addtutorado';">Añadir</button>  
            </div>
        </div>
        <div class="div-der">
            <div class="divTable">
                <table>
                    <thead>
                        <tr>
                            <td>Pregunta</td>
                            <td>Opcion 1</td>
                            <td>Opcion 2</td>
                            <td>Opcion 3</td>
                            <td>Opcion 4</td>
                            <td>Respuesta</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="bodyPregunta">
                        <% for(var i=0; i<recordsPreguntas.length ;i++){ %>
                            <tr>
                                <td>
                                    <%=recordsPreguntas[i]["pregunta"] %>
                                </td>
                                <td>
                                    <%=recordsPreguntas[i]["opcion1"] %>
                                </td>
                                <td>
                                    <%=recordsPreguntas[i]["opcion2"] %>
                                </td>
                                <td>
                                    <%=recordsPreguntas[i]["opcion3"] %>
                                </td>
                                <td>
                                    <%=recordsPreguntas[i]["opcion4"] %>
                                </td>
                                <td>
                                    <%=recordsPreguntas[i]["respuesta"] %>
                                </td>
                                <td>
                                    <a> En proceso</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- <script src="/assets/js/http.js"></script>
    <script src="/assets/js/tutor-admin.js"></script> -->
</body>

</html>