<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Admin</title>
    <link rel="stylesheet" href="/assets/css/tutor-admin.css">
</head>

<body>
    <div class="container">
        <div class="div-izq">
            <div class="divForm">
                <!-- AGREGAR PREGUNTA -->
                <h1>Añade preguntas</h1>
                <form id="formTutor" action="/tutor/admin" method="post">
                    <input type="text" name="pregunta" id="pregunta" placeholder="Pregunta?">
                    <input type="text" name="opcion1" id="opcion1" placeholder="Opcion 1">
                    <input type="text" name="opcion2" id="opcion2" placeholder="Opcion 2">
                    <input type="text" name="opcion3" id="opcion3" placeholder="Opcion 3">
                    <input type="text" name="opcion4" id="opcion4" placeholder="Opcion 4">
                    <input type="text" name="respuesta" id="respuesta" placeholder="Respuesta correcta">
                    <button type="submit" id="btnGuardar" class="btnFormPregunta">Agregar</button>   
                </form>
            </div>
        </div>
        <div class="div-der">
            <div class="divTable">
                <table>
                    <thead>
                            <tr>
                                <td>#</td>
                                <td>Pregunta</td>
                                <td>Opcion 1</td>
                                <td>Opcion 2</td>
                                <td>Opcion 3</td>
                                <td>Opcion 4</td>
                                <td>Respuesta</td>
                                <td>Acciones</td>
                            </tr>
                    </thead>
                    <tbody id="bodyPregunta">
                        <% for(var i=0; i<records.length ;i++){ %>
                            <tr>
                                <td>
                                    <%=records[i]["idPregunta"] %>
                                </td>
                                <td>
                                    <%=records[i]["pregunta"] %>
                                </td>
                                <td>
                                    <%=records[i]["opcion1"] %>
                                </td>
                                <td>
                                    <%=records[i]["opcion2"] %>
                                </td>
                                <td>
                                    <%=records[i]["opcion3"] %>
                                </td>
                                <td>
                                    <%=records[i]["opcion4"] %>
                                </td>
                                <td>
                                    <%=records[i]["respuesta"] %>
                                </td>
                                <td>
                                    <a itemid="<%= records[i]["idPregunta"] %>" id="btnEdit">Editar</a>
                                    <a itemid="<%= records[i]["idPregunta"] %>" id="btnDelete">Eliminar</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/assets/js/http.js"></script>
    <script src="/assets/js/tutor-admin.js"></script>
</body>

</html>